*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/core/common/build/
/core/data/build/
/core/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/database/build/
/core/database/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/designsystem/build/
/core/domain/build/
/core/domain/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/model/build/
/core/system/build/
/core/system/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/alarm/build/
/feature/alarm/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/